.App {
 
}


.photos   {
    width: 50px;
    height: 50px
}


.cards {
    background-color: bisque;
    padding: 2rem;
    margin-bottom: 1rem;
    width: 300px;
    width: 100%
}


.cards:hover {
    background-color: rgb(214, 189, 237);
}


.imagecard {
    width: 100%;
    background-color: pink;
    height: 500px;
    padding: 4rem

}

.container1 {
    display: flex;
    justify-content: space-evenly;
    
    width: 100vw
}

.customer-container {
    width: 30%

}


.imagecard-container {
    width: 50%
}

.bold {
    font: bold;
}
